* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hour {
  border-bottom: 1px solid gray;
  color: gray;
  height: 4rem;
  padding: 0.25rem;
}

.main-container {
  position: relative;
}

.structure {
  position: relative;
  padding-top: 3rem;
}

.divider {
  position: absolute;
  left: 4rem;
  background-color: gray;
  width: 1px;
  height: 100%;
}

/** for user slots **/
.user-schedule {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5rem;
  display: flex;
  gap: 1rem;
}

.user {
  position: relative;
}

.seperater {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: gray;
}

.slot {
  position: absolute;
  background-color: lightblue;
  border: 1px solid blue;
}
